<% if !@poll.closed %>
	<% if Time.zone.now <= (@poll.created_at + @poll.expire_in_days.days) %>
		
		<p>Enter your email address, and check the box next to all the times you are available.</p>
		<%= simple_form_for [@poll, Subscriber.new], method: :post, action: new_poll_subscriber_path(poll_id: @poll) do |f| %>
			<%= f.input :email, label: "Email" %>
			<%= f.association :choices, as: :check_boxes, collection: @poll.choices.order(time: :asc) %>
			<%= f.button :submit, "Submit your availability" %>
		<% end %>
		
		<% if user_signed_in? %>
			<hr>
			<% if current_user == @poll.user %>
				<h2>Add slots:</h2>
				<%= simple_form_for [@poll, Choice.new] do |f| %>
					<%= f.input :time, as: :datetime, ampm: true, minute_step: 5 %>
					<%= f.button :submit, 'Add Slot' %>
				<% end %>
			<% else %>
				<% # if poll doesnt belong to current user %>
			<% end %>
		<% else %>
			<%= link_to "Login to add slots", new_user_session_path %>
		<% end %>
	<% else %>
		<p>This poll has expireed.</p>
	<% end %>
<% else %>
	<p>The poll has been closed.</p>
<% end %>