<h1><%= @poll.label %></h1>
<%= text_field_tag "share_url", poll_url(@poll), disabled: true, class: 'form-control' %>

<h2>Slots:</h2>
<p>This is a list of proposed times.  The time(s) with the greatest number of available guests will be indicated with the word "BEST".</p>
<table class="table table-condensed table-bordered table-striped">
	<tr>
		<th>Time</th>
		<th>Who?</th>
	</tr>
	<% @poll.choices.order(time: :asc).each do |choice| %>
		<tr>
			<td><%= choice.formatted_time %>
				<% if @count == choice.subscribers.count %>
					<strong style="color:red;">(BEST)</strong>
				<% end %>

			</td>
			<td>
				<ul>
					<% choice.subscribers.each do |subscriber| %>
						<li><%= subscriber.email %></li>
					<% end %>
				</ul>
			</td>
		</tr>
	<% end %>
	
</table>

<h2>Select your availability:</h2>
<p>Enter your email address, and check the box next to all the times you are available.</p>
<%= simple_form_for [@poll, Subscriber.new], method: :post, action: new_poll_subscriber_path(poll_id: @poll) do |f| %>
	<%= f.input :email, label: "Email" %>
	<%= f.association :choices, as: :check_boxes, collection: @poll.choices %>
	<%= f.button :submit, "Submit your availability" %>
<% end %>

<h2>Respondents:</h2>
<p>This is a list of all emails that have responded to this poll.</p>
<table class="table table-condensed table-bordered">
	<tr>
		<th>Email</th>
	</tr>
	<% @poll.subscribers.each do |subscriber| %>
		<tr>
			<td><%= subscriber.email %></td>
		</tr>
	<% end %>
	
</table>


<% if user_signed_in? %>
	<% if current_user == @poll.user %>
		<h2>Add slots:</h2>
		<%= simple_form_for [@poll, Choice.new] do |f| %>
			<%= f.input :time, as: :datetime, ampm: true, minute_step: 5 %>
			<%= f.button :submit, 'Add Slot' %>
		<% end %>
	<% else %>
		<% # if poll doesnt belong to current user %>
	<% end %>
<% else %>
	<%= link_to "Login to add slots", new_user_session_path %>
<% end %>

