<h1><%= @poll.label %></h1>
<h2>Subscribers:</h2>

<table class="table table-condensed">
	<tr>
		<th>Email</th>
	</tr>
	<% @poll.subscribers.each do |subscriber| %>
		<tr>
			<td><%= subscriber.email %></td>
		</tr>
	<% end %>
	
</table>
<h2>Slots</h2>
<table>
	<tr>
		<th>Time</th>
		<th>Count</th>
	</tr>
	<% @poll.choices.order(time: :asc).each do |choice| %>
		<tr>
			<td><%= choice.time %></td>
			<td><%= choice.subscribers.count %></td>
		</tr>
	<% end %>
	
</table>

<h2>Select a slot:</h2>
<%= simple_form_for [@poll, Subscriber.new], method: :post, action: new_poll_subscriber_path(poll_id: @poll) do |f| %>
	<%= f.input :email %>
	<%= f.association :choices, as: :check_boxes %>
	<%= f.submit %>
<% end %>

<h2>Add slots:</h2>
<%= simple_form_for [@poll, Choice.new] do |f| %>
	<%= f.input :time %>
	<%= f.submit %>
<% end %>

