<h1><%= @poll.label %></h1>
<% if user_signed_in? %>
	<% if @poll.closed == false && current_user == @poll.user  %>
		<%= link_to "Close Poll", poll_close_path(@poll), method: :put, class: 'btn btn-sm btn-warning' %>
	<% else %>
		<% if current_user == @poll.user %>
			<%= link_to "Re-open Poll", poll_open_path(@poll), method: :put, class: 'btn btn-sm btn-success' %>
			
		<% end %>
	<% end %>
<% end %>
<p class="lead"><%= @poll.description %></p>
<div class="row">
	<div class="col-md-6">
		<h2>Share:</h2>
		<span class="small">Don't worry, other users won't need to log in.  They also won't be able to add or delete slots.</span> <%= text_field_tag "share_url", poll_url(@poll), disabled: true, class: 'form-control' %> <br>
	</div>
	<div class="col-md-6">
		<h2>Invite respondents:</h2>
			<%= render 'inviteform' %>
	</div>
</div>
<hr>



<h2>Slots:</h2>
<p>This is a list of proposed times.  The time(s) with the greatest number of available guests will be indicated with the word "BEST".</p>
<%= render 'choices' %>
<hr>
<h2>Select your availability:</h2>
<p class="small">Expires at: <%= (@poll.created_at + @poll.expire_in_days.days).strftime("%Y %b %e @ %I:%M %p") %></p>
<%= render 'voteform' %>

<hr>
<h2>Respondents:</h2>
<p>This is a list of all emails that have responded to this poll. <br>(*) indicates that the user is not available for any slot, due to deletion of one of more slots.</p>
<%= render 'respondents' %>




