<!DOCTYPE html>
<html>
  <head>
    <title>Zoodle</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="container">
      <br>
      <%= image_tag 'logo.png' %>
      <% if !user_signed_in? %>
        <%= link_to "Sign in", new_user_session_path, class: 'btn btn-sm btn-success' %>
      <% else %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-danger' %>
      <% end %>
      <% if flash[:notice] || flash[:alert] %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
